@model Container
<div class="row">
    <div class="col-md-4">
        <label class="form-label" asp-for="@Model.Class.ClassName"></label>
        <input class="form-control" asp-for="@Model.Class.ClassName"><br>
        <span class="text-danger" asp-validation-for="@Model.Class.ClassName"></span>
        <label class="form-label" asp-for="@Model.Class.ClassDescription"></label>
        <input class="form-control" asp-for="@Model.Class.ClassDescription"><br>
        <span class="text-danger" asp-validation-for="@Model.Class.ClassDescription"></span>
        <label class="form-label" asp-for="@Model.Class.Location"></label>
        <input class="form-control" asp-for="@Model.Class.Location"><br>
        <span class="text-danger" asp-validation-for="@Model.Class.Location"></span>
    </div>
    <div class="col-md-4">
        <label class="form-label" asp-for="@Model.Class.ClassDate"></label>
        <input class="form-control" asp-for="@Model.Class.ClassDate"><br>
        <span class="text-danger" asp-validation-for="@Model.Class.ClassDate"></span>
        <div>
            <label class="form-label" asp-for="@Model.Class.StartTime"></label>
            <input class="form-control" asp-for="@Model.Class.StartTime"><br>
            <span class="text-danger" asp-validation-for="@Model.Class.StartTime"></span>
        </div>
        <div>
            <label class="form-label" asp-for="@Model.Class.EndTime"></label>
            <input class="form-control" asp-for="@Model.Class.EndTime"><br>
            <span class="text-danger" asp-validation-for="@Model.Class.EndTime"></span>
        </div>
    </div>
    <div class="col-md-4">
        <label class="form-label" asp-for="@Model.Class.ClassSize"></label>
        <input class="form-control" asp-for="@Model.Class.ClassSize"><br>
        <span class="text-danger" asp-validation-for="@Model.Class.ClassSize"></span>
        <label class="form-label" asp-for="@Model.Class.ClassPhoto"></label>
        <input class="form-control" asp-for="@Model.Class.ClassPhoto"><br>
        <span class="text-danger" asp-validation-for="@Model.Class.ClassPhoto"></span>
        <label class="form-label" asp-for="@Model.Class.ClassVideo"></label>
        <input class="form-control" asp-for="@Model.Class.ClassVideo"><br>
        <span class="text-danger" asp-validation-for="@Model.Class.ClassVideo"></span>
    </div>
</div>
<button type="submit" class="btn btn-sm btn-primary">Submit</button>