@model Container
<div class="div-class-photo">
    <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fweneedfun.com%2Fwp-content%2Fuploads%2F2016%2F12%2FFitness-Wallpapers-HD-6.jpg&f=1&nofb=1"
        alt="backgroundphoto">
</div>
<table class="table table-striped table-light">
    <thead>
        <th>Class Name</th>
        <th>Instructor</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th># Of Attending</th>
        <th>Max Spots</th>
        <th>Action</th>
    </thead>
    @* loop here later *@
    @foreach (var fitclass in Model.AllClasses)
    {
        <tr>
            <td><a asp-action="OneClass" asp-controller="Fitness" asp-route-classId="@fitclass.ClassId"
                data-toggle="tooltip" data-placement="top"
                title="see more info about this class">@fitclass.ClassName</a></td>
            <td>@fitclass.Instructor.User.FirstName</td>
            <td>@fitclass.ClassDate.ToString("m")</td>
            <td>@fitclass.StartTime.ToString("t")</td>
            <td>@fitclass.EndTime.ToString("t")</td>
            <td>@fitclass.Attending.Count</td>
            <td>@fitclass.ClassSize</td>
            <td>
                @{
                    if (User.IsInRole("Instructor"))
                    {
                        int myInsId = Model.LoggedInstructor.InstructorId;
                        if (fitclass.InstructorId == myInsId)
                        {
                            <a asp-action="EditClass" asp-controller="Fitness" asp-route-classId="@fitclass.ClassId"
                class="btn btn-sm btn-warning">Edit Class</a>
                            <a asp-action="DeleteClass" asp-controller="Fitness" asp-route-classId="@fitclass.ClassId"
                class="btn btn-sm btn-danger">Delete</a>
                        }
                    }
                    if (fitclass.Instructor.User.Id != Model.LoggedUser.Id)
                    {
                        if (@fitclass.Attending != null)
                        {
                            if (@fitclass.Attending.Any(a => a.UserId == Model.LoggedUser.Id))
                            {
                                <a asp-action="UnRSVP" asp-controller="Fitness" asp-route-classId="@fitclass.ClassId"><button
                        class="btn btn-sm btn-warning">Leave</button></a>
                            }
                            else if (@fitclass.Attending.Count < @fitclass.ClassSize)
                            {
                                <a asp-action="RSVP" asp-controller="Fitness" asp-route-classId="@fitclass.ClassId"><button
                        class="btn btn-sm btn-primary">Join</button></a>
                            }
                            else
                            {
                                <button class="btn btn-sm btn-secondary" disabled data-toggle="tooltip" data-placement="top"
                title="This class has reached maximum capacity. Please try another class">Join</button>
                            }
                        }
                        else
                        {
                            <a asp-action="RSVP" asp-controller="Fitness" asp-route-classId="@Model.Class.ClassId"><button
                                class="btn btn-sm btn-primary">Join</button></a>
                        }
                    }
                }
            </td>
        </tr>
    }
    <tr>
</table>
<hr>
@if (User.IsInRole("Instructor"))
{
    <a asp-action="NewClass" asp-controller="Fitness" class="btn btn-sm btn-success">New Class</a>
}
