@model Container
<div class="row">
    <h1>Welcome @Model.LoggedUser.FirstName</h1>
    <a asp-action="Dashboard" asp-controller="Fitness">Dashboard</a>
    <a asp-action="LogOut" asp-controller="Home">LogOut</a>
</div>
<h1>@Model.Class.ClassName with @Model.Class.Instructor.FirstName</h1>
<h5>Class Date: @Model.Class.ClassDate.ToString("MMMM dd yyy")</h5>
<h5>Guests:</h5>
<ul>
    @foreach (var rsvp in Model.AllRSVPs)
    {
        <li>@rsvp.Attendee.FirstName @rsvp.Attendee.LastName</li>
    }
</ul>

@if (Model.Class.UserId == Model.LoggedUser.UserId)
{
    <a asp-action="Delete" asp-controller="FitnessClass" asp-route-ClassId="@Model.Class.ClassId"
    class="btn btn-sm btn-danger">Delete</a>
}
@* else if user already rsvp show the un-rsvp button *@
@* another query is .Where() *@
else if (@Model.Class.Attending.Any(a => a.UserId == Model.LoggedUser.UserId))
{
    <a asp-action="UnRSVP" asp-controller="Fitness" asp-route-classId="@Model.Class.ClassId"><button
        class="btn btn-sm btn-warning">Un-RSVP</button></a>
}
@* else user has not rsvped wediing, show the rsvp button *@
else
{
    <a asp-action="RSVP" asp-controller="Fitness" asp-route-classId="@Model.Class.ClassId"><button
        class="btn btn-sm btn-primary">RSVP</button></a>
}