@model Container

<div class="row">
    <div class="col-md-12 div-class-photo"><img src="@Model.Class.ClassPhoto" alt="@Model.Class.ClassName"></div>
</div>

<div class="row">
    <div class="col-md-6">
        <h1>@Model.Class.ClassName with @Model.Class.Instructor.User.FirstName</h1>
        <h5>Class Date: @Model.Class.ClassDate.ToString("MMMM dd yyy")</h5>
        <h5>Guests:</h5>
        <ul>
            @foreach (var rsvp in Model.AllRSVPs)
            {
                <li>@rsvp.Attendee.FirstName @rsvp.Attendee.LastName</li>
            }
        </ul>
        @{
            if (User.IsInRole("Instructor"))
            {
                int myInsId = Model.LoggedInstructor.InstructorId;
                if (Model.Class.InstructorId == myInsId)
                {
                    <a asp-action="EditClass" asp-controller="Fitness" asp-route-classId="@Model.Class.ClassId"
            class="btn btn-sm btn-warning">Edit Class</a>
                    <a asp-action="DeleteClass" asp-controller="Fitness" asp-route-classId="@Model.Class.ClassId"
            class="btn btn-sm btn-danger">Delete</a>
                }
            }
            if(Model.Class.Instructor.User.Id != Model.LoggedUser.Id)
            {
                if (@Model.Class.Attending != null)
                {
                    if (@Model.Class.Attending.Any(a => a.UserId == Model.LoggedUser.Id))
                    {
                        <a asp-action="UnRSVP" asp-controller="Fitness" asp-route-classId="@Model.Class.ClassId"><button
                        class="btn btn-sm btn-warning">Leave</button></a>
                    }
                    else if(@Model.Class.Attending.Count < @Model.Class.ClassSize)
                    {
                        <a asp-action="RSVP" asp-controller="Fitness" asp-route-classId="@Model.Class.ClassId"><button
                            class="btn btn-sm btn-primary">Join</button></a>
                    }
                    else
                    {
                        <button class="btn btn-sm btn-secondary" disabled>Join</button>
                        <p class="text-danger">This class has reached maximum capacity. Please try another class</p>
                    }
                }
            }
        }
    </div>
    <div class="col-md-6">
        <p>Placeholder for video</p>
    </div>
    
</div>